input {
    height: 2em !important;
}

button {
    height: 3em;
    width: 10em;
    cursor: pointer;
}

form {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-between;
    align-items: flex-end;
}

form > p {
    margin: 0.5em 0;
}

label {
    width: 100px;
}